# Secrets used by the application can be configured in this file.
# For the deployed application, these secrets are stored in Digital Ocean
# To use this file, simply rename it to ".env" and store it the the root folder of the TCW chatbot application
 
# OPENAI
OPENAI_API_KEY=""
# WEAVIATE URL
WCS_URL="https://proposals-u8vkxufe.weaviate.network"
# WEAVIATE API KEY
WEAVIATE_API_KEY1="UN4uUGCOczXN23S2744NEKoK9KaPMhLpUMwi"
