tiktoken==0.5.1
azure-identity==1.15.0
azure-storage-blob==12.18.3
psycopg2-binary==2.9.9
python-dotenv==1.0.0
langchain==0.1.5
langchain-openai==0.0.5
langchain-community==0.0.17
pgvector==0.2.4
fastapi==0.109.2
uvicorn==0.27.0.post1
weaviate-client==4.4.1
